alabaster==0.7.12
astropy==4.3.1
Babel==2.9.1
certifi==2021.5.30
charset-normalizer==2.0.7
coverage==6.0.2
docutils==0.17.1
idna==3.3
imagesize==1.2.0
Jinja2==3.0.2
jplephem==2.16
julian==0.14
MarkupSafe==2.0.1
nose2==0.10.0
numpy==1.20.3
packaging==21.2
pandas==1.3.3
pyerfa==2.0.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
requests==2.26.0
scipy==1.7.1
six==1.16.0
snowballstemmer==2.1.0
Sphinx==4.2.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
urllib3==1.26.7
